# Pandas 1

In [1]:
# Pandas : It offers data structures and operations for manipulating numerical tables and time series.

# Pandas module : 

import pandas as pd

In [18]:
# Reading file from pandas. Put Backslash in URL & don't put space in name

pd.read_csv("H:/Sample-Spreadsheet-1000-rows.csv")

,S.no,Name,Ambasdor,Min,Avg,Max,Score,Branch,Category,Percentage
0,1,"Eldon Base for stackable storage shelf, platinum",Muhammed MacIntyre,3,-213.25,38.94,35.00,Nunavut,Storage & Organization,0.80
1,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,293,457.81,208.16,68.02,Nunavut,Appliances,0.58
2,3,"Cardinal Slant-D� Ring Binder, Heavy Gauge Vinyl",Barry French,293,46.71,8.69,2.99,Nunavut,Binders and Binder Accessories,0.39
3,4,R380,Clay Rozendal,483,1198.97,195.99,3.99,Nunavut,Telephones and Communication,0.58
4,5,Holmes HEPA Air Purifier,Carlos Soltero,515,30.94,21.78,5.94,Nunavut,Appliances,0.50
...,...,...,...,...,...,...,...,...,...,...
995,996,Xerox 1905,Dennis Bolton,48165,-147.27,6.48,9.54,British Columbia,Paper,0.37
996,997,Dana Halogen Swing-Arm Architect Lamp,Anthony O'Donnell,48197,154.74,40.97,14.45,British Columbia,Office Furnishings,0.57
997,998,Maxell DVD-RAM Discs,Barbara Fisher,48484,67.96,16.48,1.99,British Columbia,Computer Peripherals,0.42
998,999,DAX Contemporary Wood Frame with Silver Metal ...,Barbara Fisher,48484,133.83,20.24,6.67,British Columbia,Office Furnishings,0.49
999,1000,Computer Printout Paper with Letter-Trim Perfo...,Barbara Fisher,48484,153.80,18.97,9.03,British Columbia,Paper,0.37

In [21]:
#storing the data in variable

df=pd.read_csv("H:/Sample-Spreadsheet-1000-rows.csv")

In [22]:
#Note: dataframe is data type.It is in tabular format

type(df)

pandas.core.frame.DataFrame

In [24]:
#Show some record from top, by deafult it shows 5 record

df.head(2)

,S.no,Name,Ambasdor,Min,Avg,Max,Score,Branch,Category,Percentage
0,1,"Eldon Base for stackable storage shelf, platinum",Muhammed MacIntyre,3,-213.25,38.94,35.00,Nunavut,Storage & Organization,0.80
1,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,293,457.81,208.16,68.02,Nunavut,Appliances,0.58

In [25]:
#Show some record from bottom, by deafult it shows 5 record

df.tail()

,S.no,Name,Ambasdor,Min,Avg,Max,Score,Branch,Category,Percentage
995,996,Xerox 1905,Dennis Bolton,48165,-147.27,6.48,9.54,British Columbia,Paper,0.37
996,997,Dana Halogen Swing-Arm Architect Lamp,Anthony O'Donnell,48197,154.74,40.97,14.45,British Columbia,Office Furnishings,0.57
997,998,Maxell DVD-RAM Discs,Barbara Fisher,48484,67.96,16.48,1.99,British Columbia,Computer Peripherals,0.42
998,999,DAX Contemporary Wood Frame with Silver Metal ...,Barbara Fisher,48484,133.83,20.24,6.67,British Columbia,Office Furnishings,0.49
999,1000,Computer Printout Paper with Letter-Trim Perfo...,Barbara Fisher,48484,153.80,18.97,9.03,British Columbia,Paper,0.37

In [29]:
#By default first row is column name. For NO COLUMN use header=None

df=pd.read_csv("H:/Sample-Spreadsheet-1000-rows.csv",header=None )

In [30]:
df

,0,1,2,3,4,5,6,7,8,9
0,S.no,Name,Ambasdor,Min,Avg,Max,Score,Branch,Category,Percentage
1,1,"Eldon Base for stackable storage shelf, platinum",Muhammed MacIntyre,3,-213.25,38.94,35,Nunavut,Storage & Organization,0.8
2,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,293,457.81,208.16,68.02,Nunavut,Appliances,0.58
3,3,"Cardinal Slant-D� Ring Binder, Heavy Gauge Vinyl",Barry French,293,46.71,8.69,2.99,Nunavut,Binders and Binder Accessories,0.39
4,4,R380,Clay Rozendal,483,1198.97,195.99,3.99,Nunavut,Telephones and Communication,0.58
...,...,...,...,...,...,...,...,...,...,...
996,996,Xerox 1905,Dennis Bolton,48165,-147.27,6.48,9.54,British Columbia,Paper,0.37
997,997,Dana Halogen Swing-Arm Architect Lamp,Anthony O'Donnell,48197,154.74,40.97,14.45,British Columbia,Office Furnishings,0.57
998,998,Maxell DVD-RAM Discs,Barbara Fisher,48484,67.96,16.48,1.99,British Columbia,Computer Peripherals,0.42
999,999,DAX Contemporary Wood Frame with Silver Metal ...,Barbara Fisher,48484,133.83,20.24,6.67,British Columbia,Office Furnishings,0.49
1000,1000,Computer Printout Paper with Letter-Trim Perfo...,Barbara Fisher,48484,153.8,18.97,9.03,British Columbia,Paper,0.37

In [31]:
# Give own column name. Use NAMEs

df=pd.read_csv("H:/Sample-Spreadsheet-1000-rows.csv",header=None,names=['a','b','c','d','e','f','g','h','i','j'] )

In [32]:
df

,a,b,c,d,e,f,g,h,i,j
0,S.no,Name,Ambasdor,Min,Avg,Max,Score,Branch,Category,Percentage
1,1,"Eldon Base for stackable storage shelf, platinum",Muhammed MacIntyre,3,-213.25,38.94,35,Nunavut,Storage & Organization,0.8
2,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,293,457.81,208.16,68.02,Nunavut,Appliances,0.58
3,3,"Cardinal Slant-D� Ring Binder, Heavy Gauge Vinyl",Barry French,293,46.71,8.69,2.99,Nunavut,Binders and Binder Accessories,0.39
4,4,R380,Clay Rozendal,483,1198.97,195.99,3.99,Nunavut,Telephones and Communication,0.58
...,...,...,...,...,...,...,...,...,...,...
996,996,Xerox 1905,Dennis Bolton,48165,-147.27,6.48,9.54,British Columbia,Paper,0.37
997,997,Dana Halogen Swing-Arm Architect Lamp,Anthony O'Donnell,48197,154.74,40.97,14.45,British Columbia,Office Furnishings,0.57
998,998,Maxell DVD-RAM Discs,Barbara Fisher,48484,67.96,16.48,1.99,British Columbia,Computer Peripherals,0.42
999,999,DAX Contemporary Wood Frame with Silver Metal ...,Barbara Fisher,48484,133.83,20.24,6.67,British Columbia,Office Furnishings,0.49
1000,1000,Computer Printout Paper with Letter-Trim Perfo...,Barbara Fisher,48484,153.8,18.97,9.03,British Columbia,Paper,0.37

In [35]:
#skip rows

df=pd.read_csv("H:/Sample-Spreadsheet-1000-rows.csv",skiprows=[1,3,5])
df

,S.no,Name,Ambasdor,Min,Avg,Max,Score,Branch,Category,Percentage
0,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,293,457.81,208.16,68.02,Nunavut,Appliances,0.58
1,4,R380,Clay Rozendal,483,1198.97,195.99,3.99,Nunavut,Telephones and Communication,0.58
2,6,G.E. Longer-Life Indoor Recessed Floodlight Bulbs,Carlos Soltero,515,4.43,6.64,4.95,Nunavut,Office Furnishings,0.37
3,7,"Angle-D Binders with Locking Rings, Label Holders",Carl Jackson,613,-54.04,7.30,7.72,Nunavut,Binders and Binder Accessories,0.38
4,8,"SAFCO Mobile Desk Side File, Wire Frame",Carl Jackson,613,127.70,42.76,6.22,Nunavut,Storage & Organization,NaN
...,...,...,...,...,...,...,...,...,...,...
992,996,Xerox 1905,Dennis Bolton,48165,-147.27,6.48,9.54,British Columbia,Paper,0.37
993,997,Dana Halogen Swing-Arm Architect Lamp,Anthony O'Donnell,48197,154.74,40.97,14.45,British Columbia,Office Furnishings,0.57
994,998,Maxell DVD-RAM Discs,Barbara Fisher,48484,67.96,16.48,1.99,British Columbia,Computer Peripherals,0.42
995,999,DAX Contemporary Wood Frame with Silver Metal ...,Barbara Fisher,48484,133.83,20.24,6.67,British Columbia,Office Furnishings,0.49
996,1000,Computer Printout Paper with Letter-Trim Perfo...,Barbara Fisher,48484,153.80,18.97,9.03,British Columbia,Paper,0.37

In [37]:
#Na_Values is used to put values as NULL

df=pd.read_csv("H:/Sample-Spreadsheet-1000-rows.csv",na_values=["Xerox 1905"])
df

,S.no,Name,Ambasdor,Min,Avg,Max,Score,Branch,Category,Percentage
0,1,"Eldon Base for stackable storage shelf, platinum",Muhammed MacIntyre,3,-213.25,38.94,35.00,Nunavut,Storage & Organization,0.80
1,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,293,457.81,208.16,68.02,Nunavut,Appliances,0.58
2,3,"Cardinal Slant-D� Ring Binder, Heavy Gauge Vinyl",Barry French,293,46.71,8.69,2.99,Nunavut,Binders and Binder Accessories,0.39
3,4,R380,Clay Rozendal,483,1198.97,195.99,3.99,Nunavut,Telephones and Communication,0.58
4,5,Holmes HEPA Air Purifier,Carlos Soltero,515,30.94,21.78,5.94,Nunavut,Appliances,0.50
...,...,...,...,...,...,...,...,...,...,...
995,996,NaN,Dennis Bolton,48165,-147.27,6.48,9.54,British Columbia,Paper,0.37
996,997,Dana Halogen Swing-Arm Architect Lamp,Anthony O'Donnell,48197,154.74,40.97,14.45,British Columbia,Office Furnishings,0.57
997,998,Maxell DVD-RAM Discs,Barbara Fisher,48484,67.96,16.48,1.99,British Columbia,Computer Peripherals,0.42
998,999,DAX Contemporary Wood Frame with Silver Metal ...,Barbara Fisher,48484,133.83,20.24,6.67,British Columbia,Office Furnishings,0.49
999,1000,Computer Printout Paper with Letter-Trim Perfo...,Barbara Fisher,48484,153.80,18.97,9.03,British Columbia,Paper,0.37

In [38]:
#Read data from excel 

ex=pd.read_excel("C:/Users/MIRACLE COMPUTERS/Downloads/file_example_XLS_50.xls")

In [39]:
ex

     0 First Name   Last Name  Gender        Country  Age        Date    Id
0    1      Dulce       Abril  Female  United States   32  15/10/2017  1562
1    2       Mara   Hashimoto  Female  Great Britain   25  16/08/2016  1582
2    3     Philip        Gent    Male         France   36  21/05/2015  2587
3    4   Kathleen      Hanner  Female  United States   25  15/10/2017  3549
4    5    Nereida     Magwood  Female  United States   58  16/08/2016  2468
5    6     Gaston       Brumm    Male  United States   24  21/05/2015  2554
6    7       Etta        Hurn  Female  Great Britain   56  15/10/2017  3598
7    8    Earlean      Melgar  Female  United States   27  16/08/2016  2456
8    9   Vincenza     Weiland  Female  United States   40  21/05/2015  6548
9   10     Fallon     Winward  Female  Great Britain   28  16/08/2016  5486
10  11    Arcelia      Bouska  Female  Great Britain   39  21/05/2015  1258
11  12   Franklyn      Unknow    Male         France   38  15/10/2017  2579
12  13    Sherron    Ascencio  Female  Great Britain   32  16/08/2016  3256
13  14     Marcel   Zabriskie    Male  Great Britain   26  21/05/2015  2587
14  15       Kina    Hazelton  Female  Great Britain   31  16/08/2016  3259
15  16   Shavonne         Pia  Female         France   24  21/05/2015  1546
16  17     Shavon      Benito  Female         France   39  15/10/2017  3579
17  18   Lauralee     Perrine  Female  Great Britain   28  16/08/2016  6597
18  19     Loreta      Curren  Female         France   26  21/05/2015  9654
19  20     Teresa      Strawn  Female         France   46  21/05/2015  3569
20  21    Belinda     Partain  Female  United States   37  15/10/2017  2564
21  22      Holly        Eudy  Female  United States   52  16/08/2016  8561
22  23       Many      Cuccia  Female  Great Britain   46  21/05/2015  5489
23  24     Libbie       Dalby  Female         France   42  21/05/2015  5489
24  25     Lester     Prothro    Male         France   21  15/10/2017  6574
25  26     Marvel        Hail  Female  Great Britain   28  16/08/2016  5555
26  27    Angelyn        Vong  Female  United States   29  21/05/2015  6125
27  28  Francesca   Beaudreau  Female         France   23  15/10/2017  5412
28  29      Garth       Gangi    Male  United States   41  16/08/2016  3256
29  30      Carla    Trumbull  Female  Great Britain   28  21/05/2015  3264
30  31       Veta       Muntz  Female  Great Britain   37  15/10/2017  4569
31  32     Stasia      Becker  Female  Great Britain   34  16/08/2016  7521
32  33       Jona     Grindle  Female  Great Britain   26  21/05/2015  6458
33  34      Judie    Claywell  Female         France   35  16/08/2016  7569
34  35     Dewitt      Borger    Male  United States   36  21/05/2015  8514
35  36       Nena      Hacker  Female  United States   29  15/10/2017  8563
36  37     Kelsie     Wachtel  Female         France   27  16/08/2016  8642
37  38        Sau        Pfau  Female  United States   25  21/05/2015  9536
38  39    Shanice   Mccrystal  Female  United States   36  21/05/2015  2567
39  40      Chase      Karner    Male  United States   37  15/10/2017  2154
40  41     Tommie   Underdahl    Male  United States   26  16/08/2016  3265
41  42     Dorcas      Darity  Female  United States   37  21/05/2015  8765
42  43      Angel       Sanor    Male         France   24  15/10/2017  3259
43  44  Willodean        Harn  Female  United States   39  16/08/2016  3567
44  45     Weston     Martina    Male  United States   26  21/05/2015  6540
45  46       Roma  Lafollette  Female  United States   34  15/10/2017  2654
46  47     Felisa        Cail  Female  United States   28  16/08/2016  6525
47  48   Demetria       Abbey  Female  United States   32  21/05/2015  3265
48  49     Jeromy        Danz    Male  United States   39  15/10/2017  3265
49  50   Rasheeda      Alkire  Female  United States   29  16/08/2016  6125

In [41]:
#How to read different sheet in excel 

ex=pd.read_excel("C:/Users/MIRACLE COMPUTERS/Downloads/file_example_XLS_50.xls",sheet_name="Sheet2")
ex

       Roll     Name
0  20120126  Krishna

In [46]:
#read all the tables from html page

ht=pd.read_html('https://www.basketball-reference.com/leaders/orb_top_10.html')
ht

[     Season   Lg                 1st                                2nd  \
 0   2020-21  NBA     C. Capela (297)                    E. Kanter (284)
 1   2019-20  NBA  H. Whiteside (258)                  A. Drummond (250)
 2   2018-19  NBA   A. Drummond (423)                     S. Adams (391)
 3   2017-18  NBA   A. Drummond (399)                     S. Adams (384)
 4   2016-17  NBA   A. Drummond (345)                    R. Gobert (314)
 5   2015-16  NBA   A. Drummond (395)  R. Lopez (268), T. Thompson (268)
 6   2014-15  NBA   A. Drummond (437)                    D. Jordan (397)
 7   2013-14  NBA   A. Drummond (440)                    D. Jordan (331)
 8   2012-13  NBA   Z. Randolph (310)                  T. Thompson (306)
 9   2011-12  NBA    D. Cousins (265)                      J. Noah (242)
 10  2010-11  NBA       K. Love (330)                  Z. Randolph (326)
 11  2009-10  NBA   Z. Randolph (330)                    D. Howard (284)
 12  2008-09  NBA     D. Howard (336)                    E. Okafor (275)
 13  2007-08  NBA   T. Chandler (322)                 A. Jefferson (308)
 14  2006-07  NBA   T. Chandler (320)                  B. Wallace* (303)
 15  2005-06  NBA   B. Wallace* (301)                    D. Howard (288)
 16  2004-05  NBA  Z. Ilgauskas (299)                     E. Brand (296)
 17  2003-04  NBA    E. Dampier (344)                  B. Wallace* (324)
 18  2002-03  NBA   B. Wallace* (293)                     E. Brand (283)
 19  2001-02  NBA      E. Brand (396)                  B. Wallace* (318)
 20  2000-01  NBA   D. Mutombo* (307)                  B. Wallace* (303)
 21  1999-00  NBA      E. Brand (348)                   S. O'Neal* (336)
 22  1998-99  NBA    D. Fortson (210)                  D. Mutombo* (192)
 23  1997-98  NBA   J. Williams (443)                   D. Rodman* (421)
 24  1996-97  NBA    D. Rodman* (320)                     D. Davis (301)
 25  1995-96  NBA    D. Rodman* (356)                  J. Williams (342)
 26  1994-95  NBA      P. Jones (329)                   S. O'Neal* (328)
 27  1993-94  NBA    D. Rodman* (453)                   S. O'Neal* (384)
 28  1992-93  NBA    D. Rodman* (367)                  D. Mutombo* (344)
 29  1991-92  NBA    D. Rodman* (523)                    K. Willis (418)
 30  1990-91  NBA    D. Rodman* (361)                 D. Robinson* (335)
 31  1989-90  NBA    M. Malone* (364)                  C. Barkley* (361)
 32  1988-89  NBA   C. Barkley* (403)                   M. Malone* (386)
 33  1987-88  NBA   C. Barkley* (385)                   M. Malone* (372)
 34  1986-87  NBA   C. Barkley* (390)                     L. Smith (366)
 35  1985-86  NBA      L. Smith (384)                  C. Barkley* (354)
 36  1984-85  NBA  H. Olajuwon* (440)                     L. Smith (405)
 37  1983-84  NBA   B. Williams (355)                   M. Malone* (352)
 38  1982-83  NBA    M. Malone* (445)                  B. Williams (365)
 39  1981-82  NBA    M. Malone* (558)                  B. Williams (347)
 40  1980-81  NBA    M. Malone* (474)                     L. Smith (433)
 41  1979-80  NBA    M. Malone* (573)                     S. Nater (352)
 42  1978-79  NBA    M. Malone* (587)                D. Roundfield (326)
 43  1977-78  NBA    M. Malone* (380)                   M. Webster (361)
 44  1976-77  NBA    M. Malone* (437)                 G. McGinnis* (324)
 45  1975-76  NBA      P. Silas (365)                   D. Cowens* (335)
 46  1975-76  ABA   A. Gilmore* (402)                    K. Hughes (341)
 47  1974-75  NBA       J. Drew (357)                     P. Silas (348)
 48  1974-75  ABA    M. Malone* (455)                  A. Gilmore* (427)
 49  1973-74  NBA     E. Hayes* (354)                  H. Hairston (335)
 50  1973-74  ABA   A. Gilmore* (478)                 G. McGinnis* (422)
 51  1972-73  ABA   A. Gilmore* (449)                 G. McGinnis* (434)
 52  1971-72  ABA    J. Erving* (476)                  A. Gilmore* (421)
 53  1970-71  ABA      M. Lewis (435)                    D. Issel* (421)
 54  1969-70  ABA   S. Haywood* (533)                     D. Sidle (432)
 55  1968-69  ABA     S. Thoren (391)                  M. Daniels* (383)
 56  1967-68  ABA   M. Daniels* (502)                     G. Ligon (370)

                                  3rd                                 4th  \
 0               J. Valančiūnas (253)                     R. Gobert (240)
 1                    R. Gobert (230)                   T. Thompson (226)
 2                    R. Gobert (309)                     C. Capela (298)
 3                    D. Jordan (329)                     E. Kanter (273)
 4                    D. Jordan (298)     D. Howard (296), K. Towns (296)
 5                                NaN                     D. Jordan (267)
 6                  T. Chandler (294)                     E. Kanter (277)
 7                     R. Lopez (326)                       J. Noah (282)
 8                   R. Hibbert (296)                       Ö. Aşık (275)
 9                    G. Monroe (239)                  K. Humphries (233)
 10                   D. Howard (309)                   L. Aldridge (278)
 11                  B. Haywood (278)                      B. Lopez (270)
 12                     K. Love (274)                      P. Gasol (262)
 13                S. Dalembert (304)                     D. Howard (279)
 14                   D. Howard (283)                      E. Brand (268)
 15                  E. Dampier (273)                   T. Chandler (265)
 16                 B. Wallace* (292)                     D. Howard (287)
 17                Z. Ilgauskas (279)                      E. Brand (269)
 18                 J. Magloire (260)  T. Duncan* (259), S. O'Neal* (259)
 19                  D. Fortson (290)                      P. Brown (273)
 20                  S. O'Neal* (291)                      E. Brand (285)
 21                 D. Mutombo* (304)                   J. Williams (277)
 22                  S. O'Neal* (187)                   O. Polynice (184)
 23                    V. Baker (286)                  Z. Ilgauskas (279)
 24                   A. Walker (288)                       S. Kemp (275)
 25                D. Robinson* (319)                      J. Smith (300)
 26                   C. Dudley (325)                   D. Mutombo* (319)
 27                   C. Oakley (349)                     K. Willis (335)
 28                  S. O'Neal* (342)                      H. Grant (341)
 29                    H. Grant (344)                     C. Dudley (343)
 30                   C. Oakley (305)                      L. Smith (302)
 31                  D. Rodman* (336)                       M. Cage (306)
 32                   C. Oakley (343)                    R. Parish* (342)
 33                     M. Cage (371)                    R. Tarpley (360)
 34                     M. Cage (354)                    M. Malone* (340)
 35                  M. Malone* (339)                  H. Olajuwon* (333)
 36                  M. Malone* (385)                   B. Williams (323)
 37                 B. Laimbeer (329)                   T. Cummings (323)
 38                  C. Kellogg (340)                   T. Cummings (303)
 39                  R. Parish* (288)                      L. Smith (279)
 40                    S. Nater (295)                    J. Carroll (274)
 41                  W. Unseld* (334)                 K. Washington (325)
 42                   E. Hayes* (312)                     R. Kelley (303)
 43                   E. Hayes* (335)                   A. Gilmore* (318)
 44                 A. Gilmore* (313)                    M. Johnson (297)
 45                   J. Brewer (298)                       J. Drew (286)
 46                  J. Erving* (337)                     D. Issel* (303)
 47                    C. Perry (347)                    W. Unseld* (318)
 48                   M. Barnes (419)                  G. McGinnis* (396)
 49                    P. Silas (334)                   S. Haywood* (318)
 50                    L. Kenon (375)                     D. Issel* (346)
 51                 M. Daniels* (348)                  B. Netolicky (338)
 52                 M. Daniels* (383)                      W. Jones (371)
 53                   Z. Beaty* (407)                   M. Daniels* (394)
 54  M. Leaks (427), R. Robbins (427)                                 NaN
 55                  R. Robbins (368)                 T. Washington (367)
 56                 C. Hawkins* (368)                    R. Robbins (366)

                                    5th                                  6th  \
 0                       D. Ayton (228)                      J. Poeltl (219)
 1                       J. Allen (216)                 J. Valančiūnas (213)
 2                       K. Towns (263)  E. Kanter (257), H. Whiteside (257)
 3                      D. Howard (255)                    L. Aldridge (246)
 4                                  NaN                   H. Whiteside (293)
 5   E. Kanter (249), Z. Pachulia (249)                                  NaN
 6                    T. Thompson (274)                      R. Gobert (265)
 7                    T. Thompson (269)                    Z. Randolph (265)
 8                     N. Vučević (273)                    T. Chandler (269)
 9                        K. Love (226)                    R. Anderson (224)
 10                    B. Griffin (270)                       P. Gasol (268)
 11                     E. Okafor (251)                       M. Camby (249)
 12                        D. Lee (256)                     P. Millsap (251)
 13                    B. Haywood (273)                      J. Foster (264)
 14                     D. Gooden (263)                      E. Okafor (258)
 15                   Z. Pachulia (264)                      S. Marion (249)
 16                     E. Okafor (275)                       P. Brown (266)
 17                   J. Magloire (268)                      K. Thomas (261)
 18                                 NaN                  A. Stoudemire (250)
 19                    T. Duncan* (268)                       D. Davis (262)
 20                    A. Jamison (280)                       A. Davis (274)
 21                  A. Henderson (265)                       J. Feick (264)
 22                      B. Grant (173)                     A. McDyess (168)
 23                   D. Mutombo* (276)                     T. Duncan* (274)
 24                    R. Seikaly (274)                    O. Polynice (272)
 25                       M. Cage (288)                        S. Kemp (276)
 26                       S. Kemp (318)                    L. Williams (291)
 27                   B. Williams (315)                        S. Kemp (312)
 28                     K. Willis (335)                       D. Davis (291)
 29                   G. Anderson (337)                     L. Johnson (323)
 30                     O. Thorpe (287)                        J. Lane (280)
 31                  D. Robinson* (303)                   H. Olajuwon* (299)
 32                  H. Olajuwon* (338)                     D. Rodman* (327)
 33                     C. Oakley (326)                     D. Rodman* (318)
 34                   X. McDaniel (338)                    B. Williams (322)
 35                   B. Williams (329)                    X. McDaniel (307)
 36                   B. Laimbeer (295)                    L. Thompson (274)
 37                   R. Sampson* (293)                       L. Smith (282)
 38                   A. Gilmore* (299)                      J. Ruland (293)
 39                      M. Lucas (274)                      E. Hayes* (267)
 40                   A. English* (273)                    B. Laimbeer (266)
 41                 D. Roundfield (293)                     C. Maxwell (284)
 42                 K. Washington (296)                    A. Gilmore* (293)
 43                   T. Robinson (298)                     M. Johnson (292)
 44                     E. Hayes* (289)                       L. Kenon (282)
 45                    M. Johnson (279)               K. Abdul-Jabbar* (272)
 46                      M. Lucas (297)                      B. Knight (294)
 47                    B. McAdoo* (307)                    H. Hairston (304)
 48                      S. Nater (369)                       C. Jones (311)
 49                        S. Mix (305)                       S. Lacey (293)
 50                      C. Jones (322)                       T. Owens (301)
 51                     D. Issel* (329)                       G. Moore (324)
 52                      M. Lewis (357)                      Z. Beaty* (355)
 53                       J. Keye (370)                      W. Ladner (337)
 54                   M. Daniels* (423)                       G. Ligon (399)
 55                      G. Ligon (328)                    K. Swagerty (326)
 56                     L. Hunter (332)                   B. Netolicky (313)

                                                   7th  \
 0                                      S. Adams (213)
 1                                      S. Adams (207)
 2                                                 NaN
 3                                     C. Capela (241)
 4                                   T. Thompson (286)
 5                 D. Howard (238), H. Whiteside (238)
 6                                       Ö. Aşık (244)
 7                                     G. Monroe (256)
 8                                    J. Hickson (266)
 9                                    B. Griffin (218)
 10                                    G. Monroe (248)
 11                                  B. Wallace* (245)
 12                                      J. Noah (244)
 13                                 Z. Ilgauskas (263)
 14                                    J. Foster (253)
 15                                 Z. Ilgauskas (245)
 16               T. Chandler (261), D. Gadzuric (261)
 17                                R. Nesterović (257)
 18                                   E. Dampier (248)
 19                  A. Davis (254), D. Mutombo* (254)
 20                                   T. Duncan* (259)
 21                                   T. Duncan* (262)
 22                                  C. Barkley* (167)
 23                                   E. Dampier (272)
 24                                     P. Jones (270)
 25                                     V. Baker (263)
 26                                     V. Baker (289)
 27                                     H. Grant (306)
 28                                    C. Oakley (288)
 29                                   M. Malone* (320)
 30                                   F. Spencer (272)
 31                                  T. Catledge (271)
 32                                  C. Drexler* (289)
 33                                 H. Olajuwon* (302)
 34                                    K. Willis (321)
 35                                  B. Laimbeer (305)
 36                                  C. Barkley* (266)
 37                                    J. Ruland (265)
 38                                  B. Laimbeer (282)
 39                                  M. Thompson (258)
 40                                      K. Carr (260)
 41                                   T. Rollins (283)
 42                               M. Landsberger (292)
 43                                     P. Silas (289)
 44                                      J. Drew (280)
 45                                   W. Unseld* (271)
 46                                     L. Kenon (287)
 47                                       C. Lee (288)
 48                   D. Hillman (296), T. Owens (296)
 49                                     L. Ellis (292)
 50                                    J. Eakins (296)
 51                                    B. Paultz (279)
 52                                    D. Issel* (353)
 53                                     I. Harge (328)
 54                                     M. Lewis (370)
 55                                     M. Leaks (322)
 56  D. Anderson (303), J. Hadnot (303), T. Washing...

                                                8th  \
 0                                   N. Jokić (205)
 1                                   I. Zubac (197)
 2                                L. Aldridge (251)
 3                                   K. Towns (238)
 4                                   S. Adams (281)
 5                                              NaN
 6                                  K. Faried (242)
 7                               J. Sullinger (241)
 8   R. Evans (260), K. Faried (260), J. Noah (260)
 9                                 R. Hibbert (213)
 10                                  E. Brand (237)
 11                                  P. Gasol (243)
 12            L. Aldridge (234), J. Thompson (234)
 13                               A. Biedriņš (256)
 14                               A. Biedriņš (251)
 15                                 D. Gooden (237)
 16                                             NaN
 17                                 J. Foster (248)
 18                               K. Garnett* (244)
 19                                             NaN
 20                                  P. Brown (257)
 21                                  D. Davis (256)
 22           K. Garnett* (166), A. Mourning* (166)
 23                                 A. Walker (270)
 24                               D. Mutombo* (268)
 25                                  P. Jones (260)
 26                               O. Polynice (277)
 27                                C. Webber* (305)
 28                   A. Green (287), S. Kemp (287)
 29                               D. Mutombo* (316)
 30              M. Malone* (271), R. Parish* (271)
 31                                  A. Green (262)
 32                               T. Cummings (281)
 33                               B. Williams (298)
 34                              H. Olajuwon* (315)
 35                               D. Wilkins* (261)
 36                                R. Parish* (263)
 37                               L. Thompson (260)
 38                               A. English* (263)
 39                                 J. Ruland (253)
 40                                R. Parish* (245)
 41              A. English* (269), E. Hayes* (269)
 42                                W. Unseld* (274)
 43                                W. Unseld* (286)
 44                                 J. Brewer (275)
 45                                    C. Ray (270)
 46                                D. Robisch (281)
 47                C. Ray (259), N. Thurmond* (259)
 48                                             NaN
 49                          K. Abdul-Jabbar* (287)
 50                                  S. Nater (286)
 51                                 R. Denton (276)
 52                                   J. Keye (315)
 53                                  M. Leaks (317)
 54                                  G. Moore (345)
 55                                  G. Moore (318)
 56                                             NaN

                                   9th                                 10th
 0                      J. Allen (196)                      D. Howard (190)
 1                    D. Sabonis (189)                    M. Robinson (186)
 2                     J. Nurkić (243)                       N. Jokić (228)
 3                     D. Favors (198)                       N. Jokić (195)
 4                      R. Lopez (244)                      M. Gortat (238)
 5                     K. Faried (235)                       K. Towns (229)
 6                    N. Vučević (238)                       E. Davis (230)
 7                     K. Faried (238)                      D. Howard (231)
 8                                 NaN                                  NaN

In [45]:
type(ht)

list

In [47]:
#Find total table in that html page

len(ht)

1

In [48]:
#How to get first table of that html page. It works as same as list 

ht[0]

,Season,Lg,1st,2nd,3rd,4th,5th,6th,7th,8th,9th,10th
0,2020-21,NBA,C. Capela (297),E. Kanter (284),J. Valančiūnas (253),R. Gobert (240),D. Ayton (228),J. Poeltl (219),S. Adams (213),N. Jokić (205),J. Allen (196),D. Howard (190)
1,2019-20,NBA,H. Whiteside (258),A. Drummond (250),R. Gobert (230),T. Thompson (226),J. Allen (216),J. Valančiūnas (213),S. Adams (207),I. Zubac (197),D. Sabonis (189),M. Robinson (186)
2,2018-19,NBA,A. Drummond (423),S. Adams (391),R. Gobert (309),C. Capela (298),K. Towns (263),"E. Kanter (257), H. Whiteside (257)",NaN,L. Aldridge (251),J. Nurkić (243),N. Jokić (228)
3,2017-18,NBA,A. Drummond (399),S. Adams (384),D. Jordan (329),E. Kanter (273),D. Howard (255),L. Aldridge (246),C. Capela (241),K. Towns (238),D. Favors (198),N. Jokić (195)
4,2016-17,NBA,A. Drummond (345),R. Gobert (314),D. Jordan (298),"D. Howard (296), K. Towns (296)",NaN,H. Whiteside (293),T. Thompson (286),S. Adams (281),R. Lopez (244),M. Gortat (238)
5,2015-16,NBA,A. Drummond (395),"R. Lopez (268), T. Thompson (268)",NaN,D. Jordan (267),"E. Kanter (249), Z. Pachulia (249)",NaN,"D. Howard (238), H. Whiteside (238)",NaN,K. Faried (235),K. Towns (229)
6,2014-15,NBA,A. Drummond (437),D. Jordan (397),T. Chandler (294),E. Kanter (277),T. Thompson (274),R. Gobert (265),Ö. Aşık (244),K. Faried (242),N. Vučević (238),E. Davis (230)
7,2013-14,NBA,A. Drummond (440),D. Jordan (331),R. Lopez (326),J. Noah (282),T. Thompson (269),Z. Randolph (265),G. Monroe (256),J. Sullinger (241),K. Faried (238),D. Howard (231)
8,2012-13,NBA,Z. Randolph (310),T. Thompson (306),R. Hibbert (296),Ö. Aşık (275),N. Vučević (273),T. Chandler (269),J. Hickson (266),"R. Evans (260), K. Faried (260), J. Noah (260)",NaN,NaN
9,2011-12,NBA,D. Cousins (265),J. Noah (242),G. Monroe (239),K. Humphries (233),K. Love (226),R. Anderson (224),B. Griffin (218),R. Hibbert (213),T. Chandler (212),D. Jordan (202)
10,2010-11,NBA,K. Love (330),Z. Randolph (326),D. Howard (309),L. Aldridge (278),B. Griffin (270),P. Gasol (268),G. Monroe (248),E. Brand (237),A. Jefferson (235),E. Okafor (230)
11,2009-10,NBA,Z. Randolph (330),D. Howard (284),B. Haywood (278),B. Lopez (270),E. Okafor (251),M. Camby (249),B. Wallace* (245),P. Gasol (243),S. Dalembert (239),A. Horford (236)
12,2008-09,NBA,D. Howard (336),E. Okafor (275),K. Love (274),P. Gasol (262),D. Lee (256),P. Millsap (251),J. Noah (244),"L. Aldridge (234), J. Thompson (234)",NaN,B. Lopez (225)
13,2007-08,NBA,T. Chandler (322),A. Jefferson (308),S. Dalembert (304),D. Howard (279),B. Haywood (273),J. Foster (264),Z. Ilgauskas (263),A. Biedriņš (256),E. Okafor (255),N. Collison (254)
14,2006-07,NBA,T. Chandler (320),B. Wallace* (303),D. Howard (283),E. Brand (268),D. Gooden (263),E. Okafor (258),J. Foster (253),A. Biedriņš (251),Z. Ilgauskas (242),S. Dalembert (239)
15,2005-06,NBA,B. Wallace* (301),D. Howard (288),E. Dampier (273),T. Chandler (265),Z. Pachulia (264),S. Marion (249),Z. Ilgauskas (245),D. Gooden (237),E. Brand (236),T. Duncan* (231)
16,2004-05,NBA,Z. Ilgauskas (299),E. Brand (296),B. Wallace* (292),D. Howard (287),E. Okafor (275),P. Brown (266),"T. Chandler (261), D. Gadzuric (261)",NaN,R. Evans (254),S. O'Neal* (253)
17,2003-04,NBA,E. Dampier (344),B. Wallace* (324),Z. Ilgauskas (279),E. Brand (269),J. Magloire (268),K. Thomas (261),R. Nesterović (257),J. Foster (248),S. O'Neal* (246),K. Garnett* (245)
18,2002-03,NBA,B. Wallace* (293),E. Brand (283),J. Magloire (260),"T. Duncan* (259), S. O'Neal* (259)",NaN,A. Stoudemire (250),E. Dampier (248),K. Garnett* (244),P. Brown (243),B. Grant (241)
19,2001-02,NBA,E. Brand (396),B. Wallace* (318),D. Fortson (290),P. Brown (273),T. Duncan* (268),D. Davis (262),"A. Davis (254), D. Mutombo* (254)",NaN,B. Miller (252),K. Garnett* (243)
20,2000-01,NBA,D. Mutombo* (307),B. Wallace* (303),S. O'Neal* (291),E. Brand (285),A. Jamison (280),A. Davis (274),T. Duncan* (259),P. Brown (257),J. O'Neal (249),A. McDyess (240)
21,1999-00,NBA,E. Brand (348),S. O'Neal* (336),D. Mutombo* (304),J. Williams (277),A. Henderson (265),J. Feick (264),T. Duncan* (262),D. Davis (256),A. Davis (235),A. McDyess (234)
22,1998-99,NBA,D. Fortson (210),D. Mutombo* (192),S. O'Neal* (187),O. Polynice (184),B. Grant (173),A. McDyess (168),C. Barkley* (167),"K. Garnett* (166), A. Mourning* (166)",NaN,E. Dampier (164)
23,1997-98,NBA,J. Williams (443),D. Rodman* (421),V. Baker (286),Z. Ilgauskas (279),D. Mutombo* (276),T. Duncan* (274),E. Dampier (272),A. Walker (270),B. Outlaw (255),E. Johnson (242)
24,1996-97,NBA,D. Rodman* (320),D. Davis (301),A. Walker (288),S. Kemp (275),R. Seikaly (274),O. Polynice (272),P. Jones (270),D. Mutombo* (268),V. Baker (267),J. Smith (261)
25,1995-96,NBA,D. Rodman* (356),J. Williams (342),D. Robinson* (319),J. Smith (300),M. Cage (288),S. Kemp (276),V. Baker (263),P. Jones (260),O. Polynice (257),D. Davis (252)
26,1994-95,NBA,P. Jones (329),S. O'Neal* (328),C. Dudley (325),D. Mutombo* (319),S. Kemp (318),L. Williams (291),V. Baker (289),O. Polynice (277),D. Rodman* (274),T. Hill (269)
27,1993-94,NBA,D. Rodman* (453),S. O'Neal* (384),C. Oakley (349),K. Willis (335),B. Williams (315),S. Kemp (312),H. Grant (306),C. Webber* (305),"P. Jones (299), O. Polynice (299)",NaN
28,1992-93,NBA,D. Rodman* (367),D. Mutombo* (344),S. O'Neal* (342),H. Grant (341),K. Willis (335),D. Davis (291),C. Oakley (288),"A. Green (287), S. Kemp (287)",NaN,H. Olajuwon* (283)
29,1991-92,NBA,D. Rodman* (523),K. Willis (418),H. Grant (344),C. Dudley (343),G. Anderson (337),L. Johnson (323),M. Malone* (320),D. Mutombo* (316),R. Seikaly (307),A. Green (306)
30,1990-91,NBA,D. Rodman* (361),D. Robinson* (335),C. Oakley (305),L. Smith (302),O. Thorpe (287),J. Lane (280),F. Spencer (272),"M. Malone* (271), R. Parish* (271)",NaN,D. Coleman (269)
31,1989-90,NBA,M. Malone* (364),C. Barkley* (361),D. Rodman* (336),M. Cage (306),D. Robinson* (303),H. Olajuwon* (299),T. Catledge (271),A. Green (262),R. Parish* (259),"C. Oakley (258), O. Thorpe (258)"
32,1988-89,NBA,C. Barkley* (403),M. Malone* (386),C. Oakley (343),R. Parish* (342),H. Olajuwon* (338),D. Rodman* (327),C. Drexler* (289),T. Cummings (281),M. Cage (276),"L. Smith (272), O. Thorpe (272)"
33,1987-88,NBA,C. Barkley* (385),M. Malone* (372),M. Cage (371),R. Tarpley (360),C. Oakley (326),D. Rodman* (318),H. Olajuwon* (302),B. Williams (298),O. Thorpe (279),K. Malone* (277)
34,1986-87,NBA,C. Barkley* (390),L. Smith (366),M. Cage (354),M. Malone* (340),X. McDaniel (338),B. Williams (322),K. Willis (321),H. Olajuwon* (315),C. Oakley (299),J. Donaldson (295)
35,1985-86,NBA,L. Smith (384),C. Barkley* (354),M. Malone* (339),H. Olajuwon* (333),B. Williams (329),X. McDaniel (307),B. Laimbeer (305),D. Wilkins* (261),R. Sampson* (258),C. Oakley (255)
36,1984-85,NBA,H. Olajuwon* (440),L. Smith (405),M. Malone* (385),B. Williams (323),B. Laimbeer (295),L. Thompson (274),C. Barkley* (266),R. Parish* (263),T. Cummings (244),A. Gilmore* (231)
37,1983-84,NBA,B. Williams (355),M. Malone* (352),B. Laimbeer (329),T. Cummings (323),R. Sampson* (293),L. Smith (282),J. Ruland (265),L. Thompson (260),D. Wilkins* (254),R. Parish* (243)
38,1982-83,NBA,M. Malone* (445),B. Williams (365),C. Kellogg (340),T. Cummings (303),A. Gilmore* (299),J. Ruland (293),B. Laimbeer (282),A. English* (263),R. Parish* (260),D. Roundfield (259)
39,1981-82,NBA,M. Malone* (558),B. Williams (347),R. Parish* (288),L. Smith (279),M. Lucas (274),E. Hayes* (267),M. Thompson (258),J. Ruland (253),M. Johnson* (252),M. Mitchell (244)
40,1980-81,NBA,M. Malone* (474),L. Smith (433),S. Nater (295),J. Carroll (274),A. English* (273),B. Laimbeer (266),K. Carr (260),R. Parish* (245),J. Erving* (244),D. Greenwood (243)
41,1979-80,NBA,M. Malone* (573),S. Nater (352),W. Unseld* (334),K. Washington (325),D. Roundfield (293),C. Maxwell (284),T. Rollins (283),"A. English* (269), E. Hayes* (269)",NaN,"M. Johnson (258), L. Kenon (258)"
42,1978-79,NBA,M. Malone* (587),D. Roundfield (326),E. Hayes* (312),R. Kelley (303),K. Washington (296),A. Gilmore* (293),M. Landsberger (292),W. Unseld* (274),C. Maxwell (272),R. Parish* (265)
43,1977-78,NBA,M. Malone* (380),M. Webster (361),E. Hayes* (335),A. Gilmore* (318),T. Robinson (298),M. Johnson (292),P. Silas (289),W. Unseld* (286),G. McGinnis* (282),S. Nater (278)
44,1976-77,NBA,M. Malone* (437),G. McGinnis* (324),A. Gilmore* (313),M. Johnson (297),E. Hayes* (289),L. Kenon (282),J. Drew (280),J. Brewer (275),M. Lucas (271),S. Wicks (268)
45,1975-76,NBA,P. Silas (365),D. Cowens* (335),J. Brewer (298),J. Drew (286),M. Johnson (279),K. Abdul-Jabbar* (272),W. Unseld* (271),C. Ray (270),K. Kunnert (267),T. Boerwinkle (263)
46,1975-76,ABA,A. Gilmore* (402),K. Hughes (341),J. Erving* (337),D. Issel* (303),M. Lucas (297),B. Knight (294),L. Kenon (287),D. Robisch (281),M. Barnes (263),M. Bennett (249)
47,1974-75,NBA,J. Drew (357),P. Silas (348),C. Perry (347),W. Unseld* (318),B. McAdoo* (307),H. Hairston (304),C. Lee (288),"C. Ray (259), N. Thurmond* (259)",NaN,D. Awtrey (242)
48,1974-75,ABA,M. Malone* (455),A. Gilmore* (427),M. Barnes (419),G. McGinnis* (396),S. Nater (369),C. Jones (311),"D. Hillman (296), T. Owens (296)",NaN,"J. Erving* (284), B. Knight (284)",NaN
49,1973-74,NBA,E. Hayes* (354),H. Hairston (335),P. Silas (334),S. Haywood* (318),S. Mix (305),S. Lacey (293),L. Ellis (292),K. Abdul-Jabbar* (287),C. Ray (285),B. McAdoo* (281)
50,1973-74,ABA,A. Gilmore* (478),G. McGinnis* (422),L. Kenon (375),D. Issel* (346),C. Jones (322),T. Owens (301),J. Eakins (296),S. Nater (286),J. Erving* (263),R. Denton (255)
51,1972-73,ABA,A. Gilmore* (449),G. McGinnis* (434),M. Daniels* (348),B. Netolicky (338),D. Issel* (329),G. Moore (324),B. Paultz (279),R. Denton (276),J. Keye (275),"J. Erving* (262), C. Jones (262)"
52,1971-72,ABA,J. Erving* (476),A. Gilmore* (421),M. Daniels* (383),W. Jones (371),M. Lewis (357),Z. Beaty* (355),D. Issel* (353),J. Keye (315),G. Govan (310),"J. Eakins (290), G. McGinnis* (290)"
53,1970-71,ABA,M. Lewis (435),D. Issel* (421),Z. Beaty* (407),M. Daniels* (394),J. Keye (370),W. Ladner (337),I. Harge (328),M. Leaks (317),G. Ligon (312),C. Powell (311)
54,1969-70,ABA,S. Haywood* (533),D. Sidle (432),"M. Leaks (427), R. Robbins (427)",NaN,M. Daniels* (423),G. Ligon (399),M. Lewis (370),G. Moore (345),B. Netolicky (337),I. Harge (334)
55,1968-69,ABA,S. Thoren (391),M. Daniels* (383),R. Robbins (368),T. Washington (367),G. Ligon (328),K. Swagerty (326),M. Leaks (322),G. Moore (318),B. Netolicky (313),K. Rhine (307)
56,1967-68,ABA,M. Daniels* (502),G. Ligon (370),C. Hawkins* (368),R. Robbins (366),L. Hunter (332),B. Netolicky (313),"D. Anderson (303), J. Hadnot (303), T. Washing...",NaN,NaN,J. Beasley (278)

In [52]:
#Use tab as seperator live URL 

a=pd.read_csv("https://gist.githubusercontent.com/michhar/2dfd2de0d4f8727f873422c5d959fff5/raw/ff414a1bcfcba32481e4d4e8db578e55872a2ca1/titanic.csv",sep='\t')

In [53]:
a

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
151,152,1,1,"Pears, Mrs. Thomas (Edith Wearne)",female,22.0,1,0,113776,66.6000,C2,S
152,153,0,3,"Meo, Mr. Alfonzo",male,55.5,0,0,A.5. 11206,8.0500,NaN,S
153,154,0,3,"van Billiard, Mr. Austin Blyler",male,40.5,0,2,A/5. 851,14.5000,NaN,S
154,155,0,3,"Olsen, Mr. Ole Martin",male,NaN,0,0,Fa 265302,7.3125,NaN,S
155,156,0,1,"Williams, Mr. Charles Duane",male,51.0,0,1,PC 17597,61.3792,NaN,C

In [54]:
#To check datatype

a.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [55]:
#List of column

a.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [58]:
#to fetch multilple columnn

a[['Survived','Parch']]

     Survived  Parch
0           0      0
1           1      0
2           1      0
3           1      0
4           0      0
..        ...    ...
151         1      0
152         0      0
153         0      2
154         0      0
155         0      1

[156 rows x 2 columns]